<h1>This is my homework home page</h1>

<p>Taking udemy classes is fun</p>
<ul>
  <li>A little review never hurt anyone</li>
  <li>The more skills you have, the better</li>
  <li>It is more fun than reading programming books</li>
</ul>

<p>Learn something new today!</p>

<%= link_to "About", about_path %>